<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{profilansicht.titel}">Benutzerprofil</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>  
        <div class="language flex-end">
            <a th:href="@{?sprache=de}"><img src="/images/de-flag.png" alt=""></a>
            <a th:href="@{?sprache=en}"><img src="/images/en-flag.png" alt=""></a>
            <a th:href="@{?sprache=nl}"><img src="/images/nl-flag.png" alt=""></a>
        </div>  
        <div class="box">
            <h1 th:text="#{profil.ihredaten}">Ihre Daten</h1>
            <div class="text">
                <strong th:text="#{profil.name}">Name</strong>
                <p name="name" th:text="${profil.name}">Test</p>
            </div>
            <div class="text">
                <strong th:text="#{profil.geburtsdatum}">Geb.</strong>
                <p name="geburtsdatum" th:text="${profil.geburtsdatum}"></p>
            </div>
            <div class="text">
                <strong th:text="#{profil.adresse}">Adresse</strong>
                <p name="adresse" th:text="${profil.adresse}"></p>
            </div>
            <div class="text">
                <strong th:text="#{profil.email}">eMail</strong>
                <p name="email" th:text="${profil.email}"></p>
            </div>
            <div class="text">
                <strong th:text="#{profil.lieblingsfarbe}">Lieblingsfarbe</strong>
                <p name="lieblingsfarbe" th:text="${profil.lieblingsfarbe}"></p>
            </div>
            <h2 th:text="#{profil.interessen}">Interessen</h2>
            <ol>
                <li th:each="interessen : ${profil.interessenListe}" th:text="${interessen}"></li>
            </ol>
            <a class="btn" th:href="@{/benutzerprofil/bearbeiten}" th:text="#{profil.bearbeiten}">Bearbeiten</a>
        </div>      
    </body>
</html>